{% extends "layout.html" %}
{% block body %}
<div class="ui-42">
  <!-- Table -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <!-- Table head -->
        <tr>
          <th><h5>DATE</h5></th>
          <th><h5>NAME</h5></th>
          <th><h5>STATUS</h5></th>
          <th><h5>ACTION</h5></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Date -->
          <td><h4>12/04/14</h4></td>
          <!-- Name -->
          <td><h4>Finance</h4></td>
          <!-- Status -->
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td
          <!-- Action -->
          <td><a href="#" class="button bg-green">Download</a></td>
        </tr>
        <tr>
          <td><h4>13/04/14</h4></td>
          <td><h4>Marketing</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-down red"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-red">Delete</a></td>
        </tr>
        <tr>
          <td><h4>14/04/14</h4></td>
          <td><h4>Trading</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-lblue">Update</a></td>
        </tr>
        <tr>
          <td><h4>15/04/14</h4></td>
          <td><h4>Stock</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-down red"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-blue">Modify</a></td>
        </tr>
        <tr>
          <td><h4>16/04/14</h4></td>
          <td><h4>Exchange</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-yellow">Change</a></td>
        </tr>
        <tr>
          <td><h4>17/04/14</h4></td>
          <td><h4>Stock</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-orange">Remove</a></td>
        </tr>
        <tr>
          <td><h4>18/04/14</h4></td>
          <td><h4>Marketing</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-down red"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-purple">Delete</a></td>
        </tr>
        <tr>
          <td><h4>19/04/14</h4></td>
          <td><h4>Trading</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-brown">Download</a></td>
        </tr>
        <tr>
          <td><h4>16/04/14</h4></td>
          <td><h4>Exchange</h4></td>
          <td><h4 class="black"><i class="fa fa-arrow-up green"></i> &nbsp;10.12</h4></td>
          <td><a href="#" class="button bg-green">Modify</a></td>
        </tr>
      </tbody>
    </table><!-- /Table -->
  </div>
</div>
{% endblock %}