{% extends "layout.html" %}
{% block title %}
<div class="container">
  <h2>Roteiros de Manobras <span>Listagem</span></h2>
  <div class="breads">
    Início
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
{% block body %}
<div class="s-widget">
    <!-- Heading -->
    <h5><i class="fa fa-search color"></i>&nbsp; Busca</h5>
    <!-- Widgets Content -->
    <div class="widget-content search">
      <form role="form">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Digite o codigo do equipamento ou substação">
          <span class="input-group-btn">
            <button class="btn btn-color" type="button">Pesquisa</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="blog-two-item">
    <div class="ui-42">
      <!-- Table -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <!-- Table head -->
            <tr>
              <th><h5>ORIGEM</h5></th>
              <th><h5>EQUIPAMENTO</h5></th>
              <th><h5>AÇÃO</h5></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td>{{ entry.origem }}</td>
              <td>{{ entry.equipamento }}</td>
              <!-- Action -->
              <td><a href="/roteiro/{{ entry.id }}" class="button bg-green">Seleciona</a></td>
            </tr>
            {% else %}
              <tr><td colspan="3">Não há dados</td></tr>
            {% endfor %}
          </tbody>
        </table><!-- /Table -->
      </div>
    </div>
  </div>
{% endblock %}