{% extends "layout.html" %}
{% block title %}
<div class="container">
  <h2>Roteiros de Manobras <span>Item</span></h2>
  <div class="breads">
    Início/roteiro/{{ roteiro.id }}
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
{% block body %}
<div class="smart-forms">
	<form method="post" action="/" id="form-elements">
		<div class="row">
			<div class="col-md-6">
				<label for="origem" class="field-label">Origem </label>
				<label for="origem" class="field">
					<input type="text" name="origem" id="origem" class="gui-input" placeholder="Origem" value="{{ roteiro.origem}}">
				</label>
			</div>
			<div class="col-md-6">
				<label for="equipamento" class="field-label">Equipamento </label>
				<label for="equipamento" class="field">
					<input type="text" name="equipamento" id="equipamento" class="gui-input" placeholder="Equipamento" value="{{ roteiro.equipamento }}">
				</label>
			</div>
		</div>
    <div class="row">
			<div class="col-md-6">
				<label for="periodo" class="field-label">Periodo </label>
				<label for="periodo" class="field">
					<input type="text" name="origem" id="periodo" class="gui-input" placeholder="Periodo"">
				</label>
			</div>
			<div class="col-md-6">
				<label for="referencia" class="field-label">Referência </label>
				<label for="referencia" class="field">
					<input type="text" name="origem" id="referencia" class="gui-input" placeholder="Referência">
				</label>
			</div>
		</div>
    <div class="row">
			<div class="col-md-12">
				<label for="responsaveis" class="field-label">Responsáveis</label>
				<label for="responsaveis" class="field">
					<input type="text" name="origem" id="responsaveis" class="gui-input" placeholder="Responsáveis"">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- Label -->
				<label for="textarea" class="field-label">Configuração</label>
				<label class="field prepend-icon">
					<textarea class="gui-textarea" id="textarea" name="textarea" placeholder="Text area">{{ roteiro.configuracao }}</textarea>
					<label class="field-icon"><i class="fa fa-lock"></i></label> 
					<!-- Small hint block -->
					<span class="input-hint"> 
						<strong>Hint:</strong> Configuração inicial do equipamento 
					</span> 
				</label>											
			</div>
		</div>
	</form>

  <div class="col-md-12">
    <div class="item">
      <!-- Table -->
      <div class="table-responsive">
        <table id="tbl1" class="table">
          <thead>
            <!-- Table head -->
            <tr>
              <th><h5>1</h5></th>
              <th>&nbsp;</th>
              <th><h5>LIBERAÇÃO</h5></th>
              <th><h5>HORA</h5></th>
              <th><h5>AÇÃO</h5></th>
            </tr>
          </thead>
          <tbody>
            {% for item in liberacoes %}
            <tr>
              <td>1.{{loop.index}}</td>
              <td>{{ item.unidade }}</td>
              <td>{{ item.descricao }}</td>
              <td><span class="hora"> : </span></td>
              <!-- Action -->
              <td>
                <a class="btn btn-sm btn-grey" item-id="{{ item.id }}"><span><i class="fa fa-check-square-o" aria-hidden="true"></i> Executado</span></a>
              </td>
            </tr>
            {% else %}
              <tr><td colspan="5">Não há dados</td></tr>
            {% endfor %}
          </tbody>
        </table>
				<br />
				<hr />
				<br />
        <!-- /Table -->
        <table id="tbl2" class="table">
          <thead>
            <!-- Table head -->
            <tr>
              <th><h5>2</h5></th>
              <th>&nbsp;</th>
              <th><h5>NORMALIZAÇÃO</h5></th>
              <th><h5>HORA</h5></th>
              <th><h5>AÇÃO</h5></th>
            </tr>
          </thead>
          <tbody>
            {% for item in normalizacoes %}
            <tr>
              <td>2.{{loop.index}}</td>
              <td>{{ item.unidade }}</td>
              <td>{{ item.descricao }}</td>
              <td><span class="hora"> : </span></</td>
              <!-- Action -->
              <td>
                  <a class="btn btn-sm btn-green" item-id="{{ item.id }}"><span><i class="fa fa-square-o" aria-hidden="true"></i> Executa</span></a>
              </td>
            </tr>
            {% else %}
              <tr><td colspan="5">Não há dados</td></tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- /Table -->
      </div>
    </div>
  </div>

{% endblock %}