{% extends "layout.html" %}
{% block title %}
<div class="container">
  <h2>Roteiros de Manobras <span>Item</span></h2>
  <div class="breads">
    Início/roteiro/{{ roteiro.id }}
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}
{% block body %}
<div class="smart-forms">
	<form method="post" action="/" id="form-elements">
		<div class="row">
			<div class="col-md-6">
				<label for="origem" class="field-label">Origem </label>
				<label for="origem" class="field">
					<input type="text" name="origem" id="origem" class="gui-input" placeholder="Origem" value="{{ roteiro.origem}}">
				</label>
			</div>
			<div class="col-md-6">
				<label for="origem" class="field-label">Origem </label>
				<label for="origem" class="field">
					<input type="text" name="origem" id="origem" class="gui-input" placeholder="Origem" value="{{ roteiro.equipamento }}">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- Label -->
				<label for="textarea" class="field-label">Configuração</label>
				<label class="field prepend-icon">
					<textarea class="gui-textarea" id="textarea" name="textarea" placeholder="Text area">{{ roteiro.configuracao }}</textarea>
					<label class="field-icon"><i class="fa fa-lock"></i></label> 
					<!-- Small hint block -->
					<span class="input-hint"> 
						<strong>Hint:</strong> Configuração inicial do equipamento 
					</span> 
				</label>											
			</div>
		</div>
	</form>

  <div class="blog-two-item">
    <div class="ui-42">
      <!-- Table -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <!-- Table head -->
            <tr>
              <th><h5>ORIGEM</h5></th>
              <th><h5>EQUIPAMENTO</h5></th>
              <th><h5>AÇÃO</h5></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td>{{ entry.origem }}</td>
              <td>{{ entry.equipamento }}</td>
              <!-- Action -->
              <td><a href="#" class="button bg-green">Seleciona</a></td>
            </tr>
            {% else %}
              <tr><td colspan="3">Não há dados</td></tr>
            {% endfor %}
          </tbody>
        </table><!-- /Table -->
      </div>
    </div>
  </div>
{% endblock %}